/* landrover_main.scss */
#wrap { width: 100vw; height: auto; overflow: hidden; }

header, #familyBox, section { width: 100vw; height: auto; margin: auto; }

#viewBox, .family_bg_01, #mediaBox, #learnBox > div, #exploreBox, #footBox { height: 100vh; }

#headBox { position: relative; }

#headBox nav { position: absolute; left: 0; right: 0; margin: auto; }

#headBox h1 { position: absolute; bottom: 0; background-image: url("../img/logo.png"); background-repeat: no-repeat; background-size: cover; background-position: 0 0; }

#headBox nav input { display: none; }

#headBox nav input + label { display: block; position: absolute; right: 0; }

#headBox nav input + label span { display: block; position: absolute; border-radius: 1px; cursor: pointer; background-color: #000; transition: all .35s; }

#headBox nav input + label span:nth-child(1) { top: 0; }

#headBox nav input + label span:nth-child(2) { top: 50%; transform: translateY(-50%); }

#headBox nav input + label span:nth-child(3) { bottom: 0; }

#headBox nav input:checked + label span:nth-child(1) { top: 50%; transform: translateY(-50%) rotate(45deg); }

#headBox nav input:checked + label span:nth-child(2) { opacity: 0; }

#headBox nav input:checked + label span:nth-child(3) { bottom: 50%; transform: translateY(50%) rotate(-45deg); }

#viewBox { top: 0; background-image: url("../img/view/view_01.png"); background-size: cover; background-repeat: no-repeat; background-position: 60% 0; }

#viewBox .view_01_text { position: absolute; text-transform: uppercase; }

.lineup { width: 168px; height: 44px; margin-top: 5%; margin-bottom: 10%; border: 2px solid #000; box-sizing: border-box; text-align: center; line-height: 40px; font-size: 0.9375rem; }

.lineup a { display: block; width: 100%; height: 100%; cursor: pointer; }

.lineup a > p { width: 100%; height: 100%; }

.family_bg_01 { position: relative; background-image: url("../img/family/background_family.jpg"); background-repeat: no-repeat; background-position: 0 50%; background-size: cover; }

.family_bg_01 h1 { position: absolute; left: 0; right: 0; bottom: 0; margin: auto; color: #fff; text-transform: uppercase; text-align: center; font-size: 55px; }

.family_area li:nth-child(1) > h1 { font-size: 35px; margin-bottom: 34px; }

.family_area li:nth-child(1) > h3 { font-size: 18px; margin-bottom: 34px; }

.family_bg_02 { width: 100vw; background-color: #141318; }

.family_area { height: auto; text-align: center; box-sizing: border-box; }

.family_area > li:nth-child(1) { color: #fff; text-transform: uppercase; }

.family_area > li:nth-child(2) { background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; }

.fi_01 > li:nth-child(2) { background-image: url("../img/family/1_family.jpg"); }

.fi_02 > li:nth-child(2) { background-image: url("../img/family/2_family.jpg"); }

.fi_03 > li:nth-child(2) { background-image: url("../img/family/3_family.jpg"); }

.white_btn { border: 2px solid #fff; }

.white_btn a { color: #fff; }

.white_btn a:hover, .family_btn a:active, .family_btn a:focus { background-color: #fff; color: #000; }

#mediaBox { position: relative; }

#mediaBox div { position: absolute; top: 0; left: 0; right: 0; bottom: 0; margin: auto; background-color: #000; background-image: url(../img/media/media_img_01.jpg); background-repeat: no-repeat; background-size: cover; }

#learnBox ul { display: block; width: 100vw; background-color: #aaa; }

#learnBox > div { width: 100vw; background-color: #1d1d1d; }

#exploreBox { background-color: #000; }

#ds_bg { width: 100vw; background-image: url("../img/dealership.jpg"); background-size: cover; background-repeat: no-repeat; background-position: 0 50%; }

#ds_mlBox { width: 100vw; background-color: #1d1d1d; }

#footBox { background-color: #fff; }

@media screen and (max-width: 767px) { #headBox nav { width: 95vw; height: 70px; height: 4.375rem; }
  #headBox h1 { width: 76px; height: 40px; }
  #headBox nav input + label { bottom: 5px; width: 36px; height: 30px; }
  #headBox nav input + label span { width: 36px; height: 3px; }
  #viewBox .view_01_text { top: 28%; left: 2.5vw; }
  #viewBox > div > h1 { font-size: 1.5625rem; }
  #viewBox > div > h3 { font-size: 1.125rem; line-height: 3.125rem; }
  .family_area { width: 100vw; padding-top: 10%; }
  .family_bg_01 h1 { font-size: 40px; }
  .family_bg_02 { height: 1428px; }
  .family_area li:nth-child(1) > h1 { font-size: 30px; margin-bottom: 16px; }
  .family_area li:nth-child(1) > h3 { font-size: 18px; margin-bottom: 16px; }
  .family_area li:nth-child(2) { width: 100vw; height: 178px; }
  .white_btn { margin-left: calc(50% - 84px); }
  #mediaBox div { width: 460px; height: 460px; }
  #learnBox ul { height: 2552px; }
  #ds_bg { height: 480px; }
  #ds_mlBox { height: 810px; } }

@media screen and (min-width: 768px) and (max-width: 1279px) { #headBox nav { width: 95vw; height: 70px; height: 4.375rem; }
  #headBox h1 { width: 76px; height: 40px; }
  #headBox nav input + label { bottom: 5px; width: 36px; height: 30px; }
  #headBox nav input + label span { width: 36px; height: 3px; }
  #viewBox .view_01_text { top: 28%; left: 2.5vw; }
  #viewBox > div > h1 { font-size: 2.5rem; }
  #viewBox > div > h3 { font-size: 1.5625rem; line-height: 3.125rem; }
  #mediaBox div { width: 700px; height: 700px; }
  #learnBox ul { height: 3374px; }
  .family_area { width: 100vw; padding-top: 10%; }
  .family_area li:nth-child(2) { height: 286px; }
  .family_bg_02 { height: 1804px; }
  .white_btn { margin-left: calc(50% - 84px); }
  #ds_bg { height: 768px; }
  #ds_mlBox { height: 880px; } }

@media screen and (min-width: 1280px) and (max-width: 1919px) { #headBox nav { width: 66.666666vw; height: 132px; height: 8.25rem; }
  #headBox h1 { width: 136px; height: 72px; }
  #headBox nav input + label { bottom: 18px; width: 40px; height: 36px; }
  #headBox nav input + label span { width: 40px; height: 3px; }
  #viewBox .view_01_text { top: 35%; left: 16.666666vw; }
  #viewBox > div > h1 { font-size: 3.4375rem; }
  #viewBox > div > h3 { font-size: 2.1875rem; line-height: 6.25rem; }
  #mediaBox div { width: 780px; height: 780px; }
  #learnBox ul { height: 2388px; }
  .family_area { width: 70vw; padding-top: 5%; }
  .family_area li:nth-child(2) { height: 434px; }
  .fi_01, .fi_03 { float: left; text-align: left; }
  .fi_02 { float: right; text-align: right; }
  .fi_01 > li:nth-child(1) { position: absolute; right: 1vw; }
  .fi_01 > li:nth-child(2) { position: absolute; left: 1vw; }
  .fi_01 > li:nth-child(3) { position: absolute; right: 1vw; }
  .family_bg_02 { position: relative; height: 2000px; }
  .white_btn { margin-left: calc(50% - 84px); }
  #ds_mlBox { height: 1046px; } }

@media screen and (min-width: 1920px) { #headBox nav { width: 66.666666vw; height: 132px; height: 8.25rem; }
  #headBox h1 { width: 136px; height: 72px; }
  #headBox nav input + label { bottom: 18px; width: 40px; height: 36px; }
  #headBox nav input + label span { width: 40px; height: 3px; }
  #viewBox .view_01_text { top: 35%; left: 16.666666vw; }
  #viewBox > div > h1 { font-size: 3.4375rem; }
  #viewBox > div > h3 { font-size: 2.1875rem; line-height: 6.25rem; }
  #mediaBox div { width: 780px; height: 780px; }
  #learnBox ul { height: 2388px; }
  .family_area li:nth-child(2) { height: 534px; }
  .family_area { width: 70vw; padding-top: 5%; }
  .family_bg_02 { height: 2066px; }
  .fi_01, .fi_03 { float: left; text-align: left; }
  .fi_02 { float: right; text-align: right; }
  .fi_01 > li:nth-child(1) { position: absolute; right: 1vw; }
  .fi_01 > li:nth-child(2) { position: absolute; left: 1vw; }
  .fi_01 > li:nth-child(3) { position: absolute; right: 1vw; }
  #ds_mlBox { height: 1146px; } }
