/* spigen_adver.css */
/* #viewBox ========================================================================================================*/
#viewBox{width:100%;height:100%;box-sizing:border-box;padding-top:100px;background-color:#0af;}