/* spigen_main_content_01.css */
/* #conBox  ========================================================================================================*/
  #conBox{width:100%;height:100%;background-color:#ddd;padding-top:100px;box-sizing:border-box;}
  .media_blog{width:100%;height:50%;background-color:inherit;}
    .title_area{float:left;width:550px;height:100%;padding:90px 55px 0 160px;box-sizing:border-box;background-color: #fff;}
      .title_area h3{margin-bottom:3.125rem;font-size:2.5rem;color:#555;text-transform:capitalize;font-weight:bold;}
      .title_area p{font-size:1.125rem;color:#171717;word-break:keep-all;}

    .content_area{float:left;width:calc(100% - 550px);height:100%;background-color:#f1f1f1;padding:50px 50px 0;box-sizing:border-box;}
      .content_area>dl{position:relative;width:100%;height:100%;background-color:transparent;}

        .content_area>dl>dt{float:left;width:160px;height:50px;}
        .content_area>dl>dt:first-child{margin-right:10px;}
          .content_area>dl>dt>button{width:100%;height:100%;background-color:transparent;color:#aaa;border:2px solid #aaa;
                box-sizing:border-box;font-size:18px;text-transform:capitalize;transition:all 0.3s ease;}
          .content_area>dl>dt>button.action{border:#f70;background-color:#f70;color:#fff;}

        .content_area>dl>dd{display:none;position:absolute;left:0;bottom:0;width:100%;height:calc(100% - 50px);min-height:200px;padding:30px 0;box-sizing:border-box;background-color:transparent;}
        /* .content_area>dl>dd.action{display:block;} */
        .content_area>dl>dd:first-of-type{display:block;}
        
        .album{position:relative;float:left;width:32%;height:100%;margin-right:2%;padding:0.5rem;box-sizing:border-box;background-size:cover;background-position: 0 0;background-repeat: no-repeat;}
        .album:after,.album::after{content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,0.5);transition:all 0.5s ease;}
        .album:hover:after,.album:hover::after{background-color:transparent;}
        .album>a{display:block;width:100%;height:100%;color:#fff;}
        .album h4{position:relative;z-index:10;font-size:1.25rem;font-weight:bold;margin-bottom:9rem;text-transform:uppercase;}
        .album:last-child{margin-right:0;}

        .con{position:relative;z-index:10;font-size:1.125rem;font-weight:bold;color:#fff;}
        .date{position:relative;z-index:10;font-size:1rem;color:#aaa;font-weight:bold;margin-top:10px;}

        .inverstor_area{width:100%;height:100%;padding-top:80px;box-sizing:border-box;text-align:center;background-image:url(../../../img/spigen/inv_bg.jpg);background-repeat:no-repeat; background-size:cover;}
        .inverstor_area h1{color:#fff;font-size:2.5rem;text-transform:uppercase;line-height:80px;font-weight:bold;}
        .inverstor_area>p{color:#fff;font-size:1.125rem;margin-bottom:100px;}
        .inverstor_area ul{position:relative;left:0;right:0;margin:auto;width:calc(100% - 300px);height:450px;}
        .inverstor_area li{float:left;width:32%;height:100%;margin-right:2%;}
        .inverstor_area li:last-child{margin-right:0;}
        .inverstor_area a{position:relative;display:block;width:100%;height:100%;}
        .inverstor_area a>p{position:absolute;z-index:100;bottom:0;width:100%;height:80px;text-align:center;background-color:rgba(0,0,0,0.5);color:#fff;font-weight:bold;font-size:20px;line-height:80px;text-transform:uppercase;}

  .about_company{width:100%;height:50%;background-color:#333;}