//basic_02.scss
/* basic_02.css */
$base:"../../img/main/";
$url1:"$base+icon/";
$url2:"$base+model/";
$url3:"$base+nature/";
$url4:"$base+box/";
.icon_01{background-image:url($url1+"login1.jpg");}
.icon_02{background-image:url($url2+"model1.jpg");}
.icon_03{background-image:url($url3+"nature1.jpg");}
/*
%box{display:block;width:100%;height:100%;}
ul{@extend %box;}
li{@extend %box;}
.box:after{content:"";@extend%box;}
.box::after{content:"";@extend%box;}
*/

@mixin mybox($u,$r:no-repeat) {
  background-image:url($u);
  background-repeat:$r;
}
.my_01{@include mybox($base+"i.jpg",repeat-x);}
#headBox{@include mybox($base+"i.jpg");}

@mixin unit($u) {
  width:$u+px; width:($u/16)+rem;
}
.testUnit{@include unit(960);}//mixin=>px to rem 

