@charset "utf-8";

html,body{width: 100%; height: 100%;}
#wrap{width: 100%; height: 100%; background-color: #acc; color:#000; text-shadow:0.2rem 0.2rem 0.2rem #181818;}

@media screen and (max-width:480px){
  #wrap{width:50%; height:100%; background-color:#fca; text-shadow: none;}
}

@media screen and (min-width:481px) and (max-width:800px){
  #wrap{width:50%; height:50%; background-color:#2a7; text-shadow:none;}
}

/* @media print */
/* @media handheld */
/* @media tv */
/* 
@media screen and (max-width:600px){
  #wrap{background-color: #fca;}
}
@media screen and (min-width:601px) and (max-width:900px){
  #wrap{background-color: #0af;}
} */


