/* main.css */
#wrap { width: 100%; height: 100%; background-color: #cfa; }

.slide_temp { position: relative; width: 90%; height: 700px; background-color: #fa0; margin: auto; border: 1px solid #1d1d1d; }

.view_btn { position: absolute; top: 50%; width: 100%; height: 0; }

.view_btn > button { float: left; width: 100px; height: 100px; background-color: #1d1d1d; transform: lranslateY(-50%); }

.view_btn > button.next { float: right; }

.view_btn > button:hover, .view_btn > button:focus { background-color: #f06; }

.view_indicator { position: absolute; z-index: 500; left: 50%; bottom: 30px; transform: translateX(-50%); width: auto; min-width: 135px; height: 30px; padding: 5px; border-radius: 30px; background-color: #fff; }

.view_indicator > ul { width: 100%; height: 100%; }

.view_indicator > ul > li { float: left; width: auto; height: 30px; margin-left: 5px; border-radius: 30px; }

.view_indicator > ul > li:first-child { margin-left: 0; }

.view_indicator > ul a { display: block; width: 30px; height: 100%; background-color: #444; border-radius: 30px; transition: all 0.5s ease; }

.view_indicator > ul a > span { display: block; width: 0; height: 0; position: absolute; z-index: -1; overflow: hidden; }

.view_indicator > ul a:hover { background-color: #ff99c2; }

.view_indicator > ul a:focus, .view_indicator > ul a.action { background-color: #f06; width: 90px; }

.view_indicator > ul a > span { display: block; width: 0; height: 0; position: absolute; z-index: -1; overflow: hidden; }

.slide_form { width: 100%; height: 100%; overflow: hidden; }

.slide_form .guide { width: 400%; height: 100%; overflow: hidden; }

.slide_form .guide > div { float: left; width: 25%; height: 100%; background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; padding: 4rem; box-sizing: border-box; }

.slide_form .guide > div:nth-of-type(1) { background-image: url("../img/ad_01.jpg"); }

.slide_form .guide > div:nth-of-type(2) { background-image: url("../img/ad_02.jpg"); }

.slide_form .guide > div:nth-of-type(3) { background-image: url("../img/ad_03.jpg"); }

.slide_form .guide > div:nth-of-type(4) { background-image: url("../img/ad_04.jpg"); }

.slide_form .guide > div > h3 { color: #fff; font-size: 4rem; font-weight: bold; }

.slide_form .guide > div > p { color: #fff; font-size: 1.2rem; font-weight: bold; margin-bottom: 1rem; }

.slide_form .guide > div > .link_btn { width: 200px; height: 40px; margin-left: 5rem; padding: 0.2rem; line-height: 40px; text-align: center; background-color: #f06; border-radius: 40px; }

.slide_form .guide > div > .link_btn > a { display: block; width: 100%; height: 100%; color: #fff; font-size: 1.3rem; font-weight: 900; background-color: #f06; border-radius: 40px; }

.slide_form .guide > div > .link_btn > a > span { display: block; width: 0; height: 0; position: absolute; z-index: -1; overflow: hidden; }

.slide_form .guide > div > .link_btn > a:hover, .slide_form .guide > div > .link_btn > a:focus { background-color: #1d1d1d; }

#viewBox_02 { position: relative; width: 100%; min-width: 1200px; height: 100%; max-height: 800px; min-height: false; margin: 5rem auto 20rem; }

#viewBox_02 > .slide_temp { width: 100%; height: 100%; }

#viewBox_02 .btn_area { position: absolute; z-index: 500; bottom: 4rem; left: 55%; margin-left: 2rem; width: 200px; height: 14px; }

#viewBox_02 .slide_02_form { width: 100%; height: 100%; overflow: hidden; }

#viewBox_02 .slide_02_form > .guide { width: 300%; height: 100%; }

.banner_area { float: left; position: relative; z-index: 0; width: 33.33333%; height: 100%; overflow: hidden; background-image: url(0); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; }

.banner_area:nth-of-type(1) { background-image: url("../img/db_main/ad_01.gif"); }

.banner_area:nth-of-type(2) { background-image: url("../img/db_main/ad_02.gif"); }

.banner_area:nth-of-type(3) { background-image: url("../img/db_main/ad_03.gif"); }

.banner_area:before, .banner_area::before { content: ""; display: block; position: absolute; z-index: -10; width: 70%; height: 150%; top: 0; left: 50%; background-image: linear-gradient(90deg, #00cc99, rgba(0, 204, 153, 0)); transition: all 0.4s ease; }

.banner_area.action:before, .banner_area.action::before { transform: rotate(-10deg); }

#viewBox_02 .indicator { float: left; width: auto; height: 100%; margin-right: 2rem; }

#viewBox_02 .indicator > li { float: left; width: auto; height: 14px; margin-right: 0.75rem; }

#viewBox_02 .indicator > li > a { display: block; width: 14px; height: 14px; border-radius: 14px; background-color: #444; }

#viewBox_02 .indicator > li > a.action { width: 42px; background-color: #4be1ef; }

#viewBox_02 .indicator > li > a > span { display: block; width: 0; height: 0; position: absolute; z-index: -1; overflow: hidden; }

#viewBox_02 .view_btn { float: right; position: static; width: auto; height: 100%; }

#viewBox_02 .view_btn > button { display: none; }

#viewBox_02 .view_btn .play_btn { width: auto; height: 14px; }

#viewBox_02 .view_btn .play_btn > button { float: left; width: 14px; height: 14px; background-color: transparent; }

#viewBox_02 .view_btn .play_btn > button > span { display: block; width: 0; height: 0; position: absolute; z-index: -1; overflow: hidden; }

#viewBox_03 { position: relative; width: 100%; height: 700px; margin: 15rem auto; }

.slide_03_btn { position: absolute; z-index: 500; top: 50%; left: 0; width: 100%; height: 0; }

.slide_03_btn > button { float: left; width: 100px; height: 100px; background-color: #1d1d1d; transform: translateY(-50%); }

.slide_03_btn > button.next { float: right; }

.slide_03_btn > button > span { display: block; width: 0; height: 0; position: absolute; z-index: -1; overflow: hidden; }

.slide_03_form { width: 100%; height: 100%; overflow: hidden; }

.slide_03_form ul { position: relative; width: 600%; height: 100%; margin-left: -100%; }

.slide_03_form ul li { float: left; width: 16.66667%; height: 100%; background-image: url(0); background-size: cover; background-repeat: no-repeat; background-position: 50% 50%; }

.slide_03_form ul li.slide_03_con_1 { background-image: url("../img/sample/sample_01.jpg"); }

.slide_03_form ul li.slide_03_con_2 { background-image: url("../img/sample/sample_02.jpg"); }

.slide_03_form ul li.slide_03_con_3 { background-image: url("../img/sample/sample_03.jpg"); }

.slide_03_form ul li.slide_03_con_4 { background-image: url("../img/sample/sample_04.jpg"); }

.slide_03_form ul li.slide_03_con_5 { background-image: url("../img/sample/sample_05.jpg"); }

/* slide_04.css */
#viewBox_04 { width: 500px; height: 250px; margin: 10rem auto; }

#viewBox_04 .slide_form { position: relative; z-index: 0; width: 100%; height: 100%; }

#viewBox_04 .slide_form ul { position: relative; z-index: 0; height: 100%; margin-left: -100%; }

#viewBox_04 .slide_form ul li { float: left; height: 100%; background-repeat: no-repeat; background-size: 100%; }

#viewBox_04 .slide_form ul li dl { width: 100%; height: 100%; padding: 2rem; box-sizing: border-box; }

#viewBox_04 .slide_form ul li dt { width: 100%; height: auto; font-size: 3rem; font-weight: 900; color: #1d1d1d; text-shadow: 0.2rem 0.2rem 0.2rem rgba(255, 255, 255, 0.5); }

#viewBox_04 .slide_form ul li dd.con { width: 100%; height: auto; margin: 1rem; padding-bottom: 0.5rem; border-bottom: 1px solid #1d1d1d; font-size: 1.2rem; }

#viewBox_04 .slide_form ul li dd.link { float: left; padding: 0.3rem; margin-left: 1.5rem; background-color: rgba(29, 29, 29, 0.5); }

#viewBox_04 .slide_form ul li dd.link > a { font-size: 1.3rem; color: #fff; font-weight: bold; }

#viewBox_04 .slide_form ul li dd.link > a:focus, #viewBox_04 .slide_form ul li dd.link > a:hover { background-color: #1d1d1d; color: #fff; }

/* slide_05.css */
#viewBox_05 { position: relative; width: 100vw; height: 100vh; background-color: #aaa; margin: auto; }

#viewBox_05 .slide_05_btn { position: absolute; z-index: 500; top: 50%; transform: translateY(-50%); right: 30px; width: 100px; height: 80px; }

#viewBox_05 .slide_05_btn button { width: 10px; height: 20px; background-color: #fff; margin-right: 5px; }

#viewBox_05 .slide_05_btn button.prev { right: 30px; }

#viewBox_05 .slide_05_btn button span { display: block; width: 0; height: 0; position: absolute; z-index: -1; overflow: hidden; }

#viewBox_05 .slide_05_form { position: relative; z-index: 0; width: 100%; height: 100%; overflow: hidden; }

#viewBox_05 .slide_05_form ul { position: relative; z-index: 0; width: 400vw; height: 100%; margin-left: -100%; }

#viewBox_05 .slide_05_form ul li { float: left; width: 25%; height: 100%; background-repeat: no-repeat; background-size: contain; background-position: 50% 50%; }
