/* paul_01.css */
#wrap { width: 100%; height: 100%; background-color: #fa0; }

#conBox2 { width: 100%; height: 100%; background-color: #996600; }

#conBox3 { width: 100%; height: 100%; background-color: black; }

#headBox { display: none; }

#viewBox { position: relative; width: 100%; height: 100%; background-color: #ffcc66; }

#viewBox h2 { display: block; width: 0; height: 0; position: absolute; z-index: -1; overflow: hidden; }

#viewBox .indicator { position: absolute; z-index: 500; right: 1.5rem; top: 0; bottom: 0; margin: auto; width: 150px; height: 130px; }

#viewBox .indicator p { width: 100%; height: 70px; font-size: 2.5rem; padding-bottom: 10px; color: #fff; text-align: center; }

#viewBox .indicator p em { font-style: normal; font-weight: bold; }

#viewBox .indicator p em:after { content: " /"; font-weight: lighter; }

#viewBox .indicator p span { font-size: 1rem; color: #f2f2f2; }

#viewBox .indicator .view_btn { position: absolute; right: 25%; width: 36%; height: auto; }

#viewBox .indicator .view_btn button { width: auto; height: auto; float: right; background-color: transparent; font-size: 1.2rem; text-shadow: 0.2rem 0.2rem 0.2rem rgba(29, 29, 29, 0.2); }

#viewBox .indicator .view_btn button:last-of-type { float: left; }

#viewBox .indicator .view_btn button span { display: block; width: 0; height: 0; position: absolute; z-index: -1; overflow: hidden; }

#viewBox .indicator .view_btn button:hover, #viewBox .indicator .view_btn button:focus { color: #f06; }

#viewBox .indicator .view_btn button.action { color: #f06; }

#viewBox .indicator .fake_btn { position: absolute; width: 100%; height: 100%; bottom: 0; cursor: pointer; }

#viewBox .slide_form { width: 100%; height: 100%; background-color: rgba(29, 29, 29, 0.2); }

#viewBox .slide_form ul { width: 100%; height: 100%; }

#viewBox .slide_form ul li { position: absolute; width: 100%; height: 100%; font-size: 5rem; font-weight: bold; color: #fff; word-break: break-all; white-space: nowrap; text-shadow: 0.2rem 0.2rem 0.2rem rgba(29, 29, 29, 0.5); box-sizing: border-box; padding: 5vw; background-repeat: no-repeat; background-position: 100% 50%; background-size: auto 100%; }

#viewBox .slide_form ul li dl { width: 100%; height: 50%; padding-top: 5vw; }

#viewBox .slide_form ul li dl dt { opacity: 0; font-size: 8rem; text-transform: capitalize; }

#viewBox .slide_form ul li dl dd { opacity: 0; font-size: 1.3rem; text-shadow: none; margin: 5rem 0; }

#viewBox .slide_form ul li dl dd.link { text-transform: uppercase; text-decoration: underline; }

#viewBox .slide_form ul li dl.action dt, #viewBox .slide_form ul li dl.action dd.con, #viewBox .slide_form ul li dl.action dd.link { opacity: 1; transform: translateY(-50px); }

#viewBox .slide_form ul li dl.action dt { transition: all 0.5s ease 0.1s; }

#viewBox .slide_form ul li dl.action dd.con { transition: all 0.5s ease 0.3s; }

#viewBox .slide_form ul li dl.action dd.link { transition: all 0.5s ease 0.5s; }

#viewBox .slide_form ul li:nth-child(1) { background-image: url("../img/paul/paul_01.jpg"); }

#viewBox .slide_form ul li:nth-child(2) { background-image: url("../img/paul/paul_02.jpg"); }

#viewBox .slide_form ul li:nth-child(3) { background-image: url("../img/paul/paul_03.jpg"); }

/* paul_conBox.css */
#conBox { width: 100%; height: 100%; background-color: #444; }

#conBox h2 { color: #fff; }

#conBox button { width: 100px; height: 40px; background-color: #0c9; }

#conBox .bar { width: 100%; height: 100px; background-color: #fa0; background-image: linear-gradient(90deg, #fa0, #0c9); }
